<h1>Word(s) and Definition(s)</h1>

<%= @display_word.word() %><br>
<%= @display_word2 %><br>
<%= @display_word3 %><br>
<%= @word1.word() %><br>
<%= @word1.definition() %><br>
<%= @word1.position() %><br>
